<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <div class="center-div">
        <div class="main-div" data-aos="fade-up">
            <h1>404</h1>
            <p>{{errormessage}}</p>
            <a href="/"><button>Go Back</button></a>
        </div>
    </div>

    {{>aosjs}}

</body>

</html>