<nav>
    <h2 id="nav-title">Color Flipper</h2>
    <ul id="nav-bar">
        <li class="nav-links"><a id="{{active1}}" href="/">Simple</a></li>
        <li class="nav-links"><a id="{{active2}}" href="/hex">Hex</a></li>
        <li class="nav-links"><a id="{{active3}}" href="/rgb">RGB</a></li>
    </ul>
</nav>